In [11]:
import sqlite3

In [55]:
from datetime import date

In [18]:
connection = sqlite3.connect('library')
cursor = connection.cursor()

In [19]:
cursor.execute(
    '''
    CREATE TABLE Book(
        id INT PRIMARY KEY NOT NULL,
        title TEXT,
        author TEXT,
        publish_year INT
    )
    '''
)

cursor.execute(
    '''
    INSERT INTO Book VALUES
    (1, 'Harry Potter and the Philosopher''s Stone', 'J. K. Rowling', 1997),
    (2, 'Методы решения задач в общем курсе физики, Механика', 'Корявов В.П.', 2007),
    (3, 'Batman: Gotham by Gaslight', 'Brian Augustyn, Mike Mignola', 1989),
    (4, 'Мёртвые души', 'Н. В. Гоголь', 1842),
    (5, 'The Running Man', 'Richard Bachman', 1982)
    '''
)

OperationalError: table Book already exists

In [4]:
cursor.execute(
    '''
    CREATE TABLE Reader(
        id INT PRIMARY KEY NOT NULL,
        name TEXT
    )
    '''
)

cursor.execute(
    '''
    INSERT INTO Reader VALUES
    (1, 'V.V. Petrovich'),
    (2, 'Alexanderr'),
    (3, 'Arkadiy Svidrigaylov'),
    (4, 'Vitalya'),
    (5, 'Noname')
    '''
)

In [10]:
cursor.execute(
    '''
    CREATE TABLE Record(
        id INT PRIMARY KEY NOT NULL,
        reader_id INT REFERENCES Readers(id) NOT NULL,
        book_id INT REFERENCES Books(id) NOT NULL,
        taking_date TEXT,
        returning_date TEXT
    )
    '''
)

OperationalError: table Record already exists

In [8]:
cursor.execute(
    '''
    INSERT INTO Record VALUES
    (1, 3, 4, '1842-02-14', '1842-07-01'),
    (2, 4, 4, '1996-10-26', NULL),
    (3, 1, 2, '2006-06-13', '2006-06-14'),
    (4, 1, 1, '2006-06-14', '2006-06-15'),
    (5, 1, 3, '2006-06-15', '2006-07-20'),
    (6, 2, 5, '1985-10-11', '1987-12-25'),
    (7, 5, 3, '2001-03-15', NULL),
    (8, 5, 3, '2002-09-19', '2002-09-25')
    '''
)

### 1) Вывести список книг.

In [22]:
def books_list():
    A = []
    for row in cursor.execute("SELECT * FROM Book"):
        A.append(row)
    return A

In [23]:
books_list()

[(1, "Harry Potter and the Philosopher's Stone", 'J. K. Rowling', 1997),
 (2,
  'Методы решения задач в общем курсе физики, Механика',
  'Корявов В.П.',
  2007),
 (3, 'Batman: Gotham by Gaslight', 'Brian Augustyn, Mike Mignola', 1989),
 (4, 'Мёртвые души', 'Н. В. Гоголь', 1842),
 (5, 'The Running Man', 'Richard Bachman', 1982)]

### 2) Вывести список читателей.

In [24]:
def readers_list():
    A = []
    for row in cursor.execute("SELECT * FROM Reader"):
        A.append(row)
    return A

In [25]:
readers_list()

[(1, 'V.V. Petrovich'),
 (2, 'Alexanderr'),
 (3, 'Arkadiy Svidrigaylov'),
 (4, 'Vitalya'),
 (5, 'Noname')]

### 3) Добавить книгу.

In [26]:
def insert_book(book_info):
    connection = sqlite3.connect("library")
    with connection:
        connection.execute("INSERT OR IGNORE INTO Book VALUES(?, ?, ?, ?)", book_info)
        connection.commit()

In [27]:
insert_book((6, 'The Silent Don', 'M. Sholokhov', 1940))

In [28]:
books_list()

[(1, "Harry Potter and the Philosopher's Stone", 'J. K. Rowling', 1997),
 (2,
  'Методы решения задач в общем курсе физики, Механика',
  'Корявов В.П.',
  2007),
 (3, 'Batman: Gotham by Gaslight', 'Brian Augustyn, Mike Mignola', 1989),
 (4, 'Мёртвые души', 'Н. В. Гоголь', 1842),
 (5, 'The Running Man', 'Richard Bachman', 1982),
 (6, 'The Silent Don', 'M. Sholokhov', 1940)]

### 4) Добавить читателя.

In [29]:
def insert_reader(reader_info):
    connection = sqlite3.connect("library")
    with connection:
        connection.execute("INSERT OR IGNORE INTO Reader VALUES(?, ?)", reader_info)
        connection.commit()

In [30]:
insert_reader((6, 'Nastya'))

In [31]:
readers_list()

[(1, 'V.V. Petrovich'),
 (2, 'Alexanderr'),
 (3, 'Arkadiy Svidrigaylov'),
 (4, 'Vitalya'),
 (5, 'Noname'),
 (6, 'Nastya')]

### 5) Выдать книгу читателю.

In [32]:
def records_list():
    A = []
    for row in cursor.execute("SELECT * FROM Record"):
        A.append(row)
    return A

In [51]:
def give_book(id, reader_id, book_id, returning_date = None, conn=connection):
    cursor.execute(
    "INSERT INTO Record VALUES (?,?,?,?,?)", (id, reader_id, book_id, str(date.today()), returning_date)
    )
    conn.commit()

In [48]:
records_list()

[(1, 3, 4, '1842-02-14', '1842-07-01'),
 (2, 4, 4, '1996-10-26', None),
 (3, 1, 2, '2006-06-13', '2006-06-14'),
 (4, 1, 1, '2006-06-14', '2006-06-15'),
 (5, 1, 3, '2006-06-15', '2006-07-20'),
 (6, 2, 5, '1985-10-11', '1987-12-25'),
 (7, 5, 3, '2001-03-15', None),
 (8, 5, 3, '2002-09-19', '2002-09-25')]

In [56]:
give_book(9, 1, 1)

In [57]:
records_list()

[(1, 3, 4, '1842-02-14', '1842-07-01'),
 (2, 4, 4, '1996-10-26', None),
 (3, 1, 2, '2006-06-13', '2006-06-14'),
 (4, 1, 1, '2006-06-14', '2006-06-15'),
 (5, 1, 3, '2006-06-15', '2006-07-20'),
 (6, 2, 5, '1985-10-11', '1987-12-25'),
 (7, 5, 3, '2001-03-15', None),
 (8, 5, 3, '2002-09-19', '2002-09-25'),
 (9, 1, 1, '2022-03-24', None)]

### 6) Принять книгу.

In [53]:
def take_book(id, conn=connection):
    cursor.execute("UPDATE Record SET returning_date = (?) where id = (?)", (str(date.today()), id))
    conn.commit()

In [58]:
take_book(7)

In [59]:
records_list()

[(1, 3, 4, '1842-02-14', '1842-07-01'),
 (2, 4, 4, '1996-10-26', None),
 (3, 1, 2, '2006-06-13', '2006-06-14'),
 (4, 1, 1, '2006-06-14', '2006-06-15'),
 (5, 1, 3, '2006-06-15', '2006-07-20'),
 (6, 2, 5, '1985-10-11', '1987-12-25'),
 (7, 5, 3, '2001-03-15', '2022-03-24'),
 (8, 5, 3, '2002-09-19', '2002-09-25'),
 (9, 1, 1, '2022-03-24', None)]